<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Index</title>

  <!-- CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
<h1>INICIO</h1>
<a class="btn btn-success" type="submit" th:href="@{/login}">Iniciar sesión</a>
<a class="btn btn-danger" type="submit" th:href="@{/logout}">Cerrar sesión</a>
<hr>
<h2 th:insert="fragmento.html"></h2>

<br>
<!-- Menú de inicio -->

<a class="btn btn-primary btn-lg btn-block" type="submit" th:href="@{/user}">Portal de usuarios</a>
<a class="btn btn-info btn-lg btn-block" type="submit" th:href="@{/admin}">Portal de administrador</a>


</body>
</html>